//Branding Colors
$brand-orange: #bf360c;
$brand-yellow: #F2DD74;
$brand-green: #689f38;

//Background
$bg-color: #141414;
$bg-secondary-color: #242424;

//Link
$link-color: #fff;
$link-hover:$brand-orange;

//Shapes
$green: #4f752c;
$yellow: #a0a32b;
$orange-red: #bf3606;